# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Node/Vite/React
node_modules/
dist/
build/

# OS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo

# Coverage
coverage/
*.coverage

# Test
pytest_cache/

# Others
frontend/.env
backend/.env
